{% extends "base.html" %}
{% block title %}POEMA{% endblock %}

{% block main %}
<div class="container">
  <div class="search-bar-container">
    <form action="/search" method="POST">
      <input type="text" name="search_query" placeholder="Search..." autofocus>
    </form>
    <div class="search"></div>
  </div>

  {% if random_poem %}
  <div class="container">
    <div class="search-bar-container">
      </div>
    <div class="card-container" style="margin-top: 150px;">
      <div class="card border-info mb-3" style="max-width: 40rem;">
        <div class="card-header">A Poem for Your Soul</div>
        <div class="card-body">
          <h5 class="card-title">{{ random_poem.title }}</h5>
          <h7 class="card-text">by {{ random_poem.author }}</h7>
          <div>
            {% for line in random_poem.lines %}
              <p class="poem">{{ line }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}